@{
    var characters = (SilverNeedle.Characters.CharacterSheetTextView[])ViewData["Characters"];
    ViewData["Title"] = "NPC Group";
    
}

<div class="character-list">
    <h1>
        <span>NPC Group</span>
        <a asp-area="" asp-controller="Character" asp-action="CharacterGroup" asp-route-strategy="@ViewData["strategy"]" asp-route-number="@ViewData["number"]" class="btn btn-lg btn-primary pull-right" role="button">Regenerate</a>
    </h1>
    <div class="row">
        @for(int i = 0; i < characters.Length; i++)
        {
            var c = characters[i]; 
            var collapseID = string.Format("collapse{0}", i);
            var headingID = string.Format("header{0}", i);

           

            <div class="col-md-4">                
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="@headingID">
                        <h3 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#@collapseID" aria-expanded="true" aria-controls="@collapseID">
                                @c.Name
                            </a>
                        </h3>
                        <h5 class="panel-subtitle">
                            <ul class="stats inline">
                                <li><strong>@c.Gender @c.Race</strong></li>
                                <li>@c.Alignment</li>
                            </ul>
                        </h5>
                    </div>  
                    <div class="panel-collapse collapse" role="tabpanel" aria-labelledby="@collapseID" id="@collapseID">
                        <div class="panel-body">
                            <strong>Perception</strong> @c.Perception
                            <ul class="stats">                              
                                <li><strong>Ideal</strong> @c.IdealName - @c.IdealDescription</li>
                                <li><strong>Personality</strong>
                                    <ul>
                                    @foreach(var p in c.Personality)
                                    { <li>@p</li> }
                                    </ul>
                                </li>  
                                <li><strong>Weaknesses</strong>
                                    <ul>
                                        @foreach(var p in c.PersonalityWeaknesses)
                                        { <li>@p</li> }
                                    </ul>
                                </li>  
                            </ul>
                        </div>     
                    </div>
                </div>
            </div>

            if((i + 1) % 3 == 0) 
            { 
                @Html.Raw("</div><div class='row'>");
            }
        }
    </div>
</div>

