@{
    var character = (SilverNeedle.Characters.CharacterSheetTextView)ViewData["Character"];
    ViewData["Title"] = "NPC - " + character.Name;
    
}
<div class="charactersheet">
    <h1>
      <span>@character.Name</span>
      <a asp-area="" asp-controller="Character" asp-action="Character" asp-route-strategy="@ViewData["strategy"]" asp-route-level="@ViewData["level"]" class="btn btn-lg btn-primary pull-right" role="button">Regenerate</a>
    </h1>
    <div class="row">
        <div class="col-md-6">
            <h5>Vitals</h5>
            <ul class="stats">
                <li><strong>@character.Gender @character.Race @character.Class @character.Level</strong></li>
                <li>@character.Alignment @character.Size</li>
                <li>
                    <ul class="commalist">
                        <li><strong>Init</strong> @character.Initiative</li>
                        <li><strong>Senses</strong> @character.Senses</li>
                        <li><strong>Perception</strong> @character.Perception</li>
                    </ul>
                </li>
            </ul>
            <h5>DEFENSE</h5>
            <ul class="stats">
                <li>
                    <ul class="commalist">
                        <li><strong>AC</strong> @character.ArmorClass</li>
                        <li><i>touch</i> @character.TouchArmorClass</li>
                        <li><i>flat-footed</i> @character.FlatFootedArmorClass</li>
                    </ul>
                </li>
                <li><strong>HP</strong> @character.HitPoints</li>
                <li>
                    <ul class="commalist">
                        <li><strong>Fort</strong> @character.FortitudeSave</li>
                        <li><strong>Reflex</strong>@character.ReflexSave</li>
                        <li><strong>Will</strong>@character.WillSave</li>
                    </ul>
                </li>
            </ul>
            <h5>OFFENSE</h5>
            <ul class="stats">
                <li><strong>Speed</strong> @character.MovementSpeed ft</li>
                @for(int i = 0; i < character.AttackTypes.Length; i++)
                    { <li><strong>@character.AttackTypes[i]</strong> @character.Attacks[i]</li>}
                <li><strong>Special Attacks</strong>
                @foreach(var spc in @character.SpecialAttacks)
                    { @spc }
                </li>
            </ul>
            <h5>STATISTICS</h5>
    <p>
    <strong>Str</strong> @character.Strength (@character.StrengthModifier)
    <strong>Dex</strong> @character.Dexterity (@character.DexterityModifier)
    <strong>Con</strong> @character.Constitution (@character.ConstitutionModifier)
    <strong>Int</strong> @character.Intelligence (@character.IntelligenceModifier)
    <strong>Wis</strong> @character.Wisdom (@character.WisdomModifier)
    <strong>Cha</strong> @character.Charisma (@character.CharismaModifier)
    </p>
    <p>
        <strong>Base Atk</strong> @character.BaseAttackBonus
        <strong>CMB</strong> @character.CombatManeuverBonus
        <strong>CMD</strong> @character.CombatManeuverDefense
    </p>
    <p>
        <strong>Feats</strong>
        <ul class="commalist">
        @foreach(var f in character.Feats)
        { <li>@f</li> }
        </ul>
    </p>
    <p>
        <strong>Skills</strong>
        <ul class="commalist">
        @foreach(var s in character.CapableSkills)
        { <li>@s</li> }
        </ul>
    </p>
    <p>
        <strong>Languages</strong>
        <ul class="commalist">
        @foreach(var l in character.Languages)
        { <li>@l</li> }
        </ul>
    </p>
    <p>
        <strong>Gear</strong>
        <ul class="commalist">
        @foreach(var g in character.Gear)
        { <li>@g</li> }
        </ul>
    </p>
        </div>
        <div class="col-md-6">
            <h5>Description</h5>
            <ul class="stats">
                <li><strong>Age</strong> @character.Age</li>
                <li><strong>Size</strong> @character.Height @character.Weight</li>
                <li>
                    <strong>Hair</strong> @character.HairColor @character.HairStyle
                </li>
                <li><strong>Eyes</strong> @character.EyeColor</li>

            </ul>
            <h5>History</h5>
            <ul class="stats">
                <li>
                    <ul class="commalist">
                        <li><strong>Father</strong> @character.Father</li>
                        <li><strong>Mother</strong> @character.Mother</li>
                    </ul>
                </li>
                <li><strong>Homeland</strong> @character.Homeland</li>
                <li><strong>Drawback</strong> @character.Drawback</li>
                <li><strong>Origins</strong> @character.ClassOrigin</li>
                <li><strong>Personality</strong>
                    <ul>
                        @foreach(var p in character.Personality
                        )
                        { <li>@p</li> }
                    </ul>
                </li>  
                <li><strong>Weaknesses</strong>
                    <ul>
                        @foreach(var p in character.PersonalityWeaknesses
                        )
                        { <li>@p</li> }
                    </ul>
                </li>  
                <li><strong>Ideal</strong> @character.IdealName - @character.IdealDescription</li>
            </ul>
        </div>
    </div>
</div>

