@using SilverNeedle.Characters;
@{
    var character = (CharacterSheetTextView)ViewData["Character"];
    var charFull = (CharacterSheet)ViewData["characterFull"];
}
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Ability Scores</h3>
    </div>
    <table class="table table-striped table-bordered statistics">
        <tbody>
        @{ Html.RenderPartial("_statistic-row", new ViewDataDictionary(this.ViewData) {
            { "statistic-title", "Str" },
            { "statistic-score", @character.Strength },
            { "statistic-modifier", @character.StrengthModifier } }); }
        @{ Html.RenderPartial("_statistic-row", new ViewDataDictionary(this.ViewData) {
            { "statistic-title", "Dex" },
            { "statistic-score", @character.Dexterity },
            { "statistic-modifier", @character.DexterityModifier } }); }
        @{ Html.RenderPartial("_statistic-row", new ViewDataDictionary(this.ViewData) {
            { "statistic-title", "Con" },
            { "statistic-score", @character.Constitution },
            { "statistic-modifier", @character.ConstitutionModifier } }); }
        @{ Html.RenderPartial("_statistic-row", new ViewDataDictionary(this.ViewData) {
            { "statistic-title", "Int" },
            { "statistic-score", @character.Intelligence },
            { "statistic-modifier", @character.IntelligenceModifier } }); }
        @{ Html.RenderPartial("_statistic-row", new ViewDataDictionary(this.ViewData) {
            { "statistic-title", "Wis" },
            { "statistic-score", @character.Wisdom },
            { "statistic-modifier", @character.WisdomModifier } }); }
        @{ Html.RenderPartial("_statistic-row", new ViewDataDictionary(this.ViewData) {
            { "statistic-title", "Cha" },
            { "statistic-score", @character.Charisma },
            { "statistic-modifier", @character.CharismaModifier } }); }
        </tbody>    
    </table>
</div>