@using SilverNeedle.Characters;
@{
    var character = (CharacterSheetTextView)ViewData["Character"];
    var charFull = (CharacterSheet)ViewData["characterFull"];
    var language = string.Join(", ", character.Languages);
}
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">General Statistics</h3>
    </div>
    <table class="table table-striped table-bordered statistics">
        <tbody>
            @{ Html.RenderPartial("_statistic-row", new ViewDataDictionary(this.ViewData) {
                { "statistic-title", "Hit Points" },
                { "statistic-score", @character.HitPoints } }); }
            @{ Html.RenderPartial("_statistic-row", new ViewDataDictionary(this.ViewData) {
                { "statistic-title", "Movement" },
                { "statistic-score", @charFull.Movement.BaseMovement.ToString() + " ft" } }); }
            @{ Html.RenderPartial("_statistic-row", new ViewDataDictionary(this.ViewData) {
                { "statistic-title", "Initiative" },
                { "statistic-modifier", @character.Initiative } }); }
            @{ Html.RenderPartial("_statistic-row", new ViewDataDictionary(this.ViewData) {
                { "statistic-title", "Perception" },
                { "statistic-modifier", @character.Perception } }); }
            @{ Html.RenderPartial("_statistic-row", new ViewDataDictionary(this.ViewData) {
                { "statistic-title", "Special Senses" },
                { "statistic-notes", @character.Senses } }); }
            @{ Html.RenderPartial("_statistic-row", new ViewDataDictionary(this.ViewData) {
                { "statistic-title", "Languages" },
                { "statistic-score", @language } }); }
        </tbody>
    </table>
</div>