@using SilverNeedle.Characters;
@using SilverNeedle.Characters.Magic;
@using SilverNeedle.Characters.Background;
@{
    var character = (CharacterSheetTextView)ViewData["Character"];
    var charFull = (CharacterSheet)ViewData["characterFull"];
    ViewData["Title"] = "NPC - " + character.Name;
    var domains = charFull.GetAll<SilverNeedle.Characters.Domains.Domain>();
}
<div class="charactersheet">
    <h1>
      <span>@character.Name</span>
      <a asp-area="" asp-controller="Character" asp-action="Character" asp-route-strategy="@ViewData["strategy"]" asp-route-level="@ViewData["level"]" asp-route-scores="@ViewData["scores"]" class="btn btn-lg btn-primary pull-right hidden-print" role="button">Regenerate</a>
    </h1>
    <h4>@character.Alignment @character.Gender @character.Race</h4> 
    <h5>@character.Class @character.Level</h5>
    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Statistics</h3>
                </div>
                <div class="panel-body">
                    <p>
                        <strong>Str</strong> @character.Strength (@character.StrengthModifier)
                        <strong>Dex</strong> @character.Dexterity (@character.DexterityModifier)
                        <strong>Con</strong> @character.Constitution (@character.ConstitutionModifier)
                        <strong>Int</strong> @character.Intelligence (@character.IntelligenceModifier)
                        <strong>Wis</strong> @character.Wisdom (@character.WisdomModifier)
                        <strong>Cha</strong> @character.Charisma (@character.CharismaModifier)
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Combat</h3>
                </div>
                <div class="panel-body">
                    <ul class="stats">
                        <li>
                            <ul class="commalist">
                                <li><strong>Init</strong> @character.Initiative</li>
                                <li><strong>Perception</strong> @character.Perception @character.Senses</li>
                            </ul>
                        </li>
                    <li>
                        <ul class="commalist">
                            <li><strong>AC</strong> @character.ArmorClass</li>
                            <li><i>touch</i> @character.TouchArmorClass</li>
                            <li><i>flat-footed</i> @character.FlatFootedArmorClass</li>
                        </ul>
                    </li>
                    <li><strong>HP</strong> @character.HitPoints</li>
                    <li>
                        <ul class="commalist">
                            <li><strong>Fort</strong> @character.FortitudeSave</li>
                            <li><strong>Reflex</strong>@character.ReflexSave</li>
                            <li><strong>Will</strong>@character.WillSave</li>
                            <li><strong>SR</strong>&nbsp;@character.SpellResistance</li>
                        </ul>
                    </li>
                    @if(character.DamageResistance.Length > 0)
                    {
                        <li>
                            <strong>DR:</strong> 
                            @foreach(var dr in character.DamageResistance)
                            { @dr }
                        </li>
                    }
                    @if(character.Immunities.Length > 0)
                    {
                        <li>
                            <strong>Immunities:</strong> 
                            <ul class="commalist" style="padding: 0">
                                @foreach(var immune in character.Immunities)
                                { <li>@immune</li> }
                            </ul>
                        </li>
                    }
                    </ul>
                    <ul class="stats">
                        <li><strong>Speed</strong> @character.MovementSpeed ft</li>
                        @for(int i = 0; i < character.AttackTypes.Length; i++)
                            { <li><strong>@character.AttackTypes[i]</strong> @character.Attacks[i]</li>}
                        <li><strong>Special Attacks</strong>
                        @foreach(var spc in @character.SpecialAttacks)
                            { @spc }
                        </li>
                    </ul>
                    <ul class="stats">
                        <li><strong>Base Atk</strong> @character.BaseAttackBonus</li>
                        <li><strong>CMB</strong> @character.CombatManeuverBonus</li>
                        <li><strong>CMD</strong> @character.CombatManeuverDefense</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
            @if(character.IsSpellCaster) 
            {
                @foreach(var sc in charFull.GetAll<SpellCasting>())
                {
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">Spell Casting (@sc.SpellList)</h3>
                        </div>
                        <div class="panel-table">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>Level</th>
                                        <th>DC</th>
                                        <th>Spells</th>
                                    </tr>
                                </thead>
                                <tbody>
                                @for(int spellLevel = 0; spellLevel <= sc.MaxLevel; spellLevel++)
                                {
                                    @if(sc.GetPreparedSpells(spellLevel).Length > 0)
                                    {
                                        <tr>
                                            <td>@spellLevel</td>
                                            <td>@sc.GetDifficultyClass(spellLevel)</td>
                                            <td>
                                                <ul class="commalist" style="padding: 0">
                                                    @{ var spells = sc.GetPreparedSpells(spellLevel); }
                                                    @foreach(var s in spells)
                                                    { <li>@s</li> } 
                                                </ul>
                                            </td>
                                        </tr>
                                    }
                                }
                                </tbody>
                            </table>
                        </div>
                    </div>
                }
            }
            @if(character.SpecialAbilities.Length > 0)
            {
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Special Abilities</h3>
                    </div>
                    <div class="panel-table">
                        <table class="table table-striped">
                            <tbody>
                        @foreach(var a in character.SpecialAbilities)
                        { <tr><td>@a</td></tr> }
                            </tbody>
                        </table>
                    </div>
                </div>
            }

            @if(domains.Count() > 0)
            {
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Domains</h3>
                    </div>
                    <div class="panel-table">
                        <table class="table table-striped">
                            <tbody>
                        @foreach(var d in domains)
                        { <tr><td>@d</td></tr> }
                            </tbody>
                        </table>
                    </div>
                </div>
            }
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Feats</h3>
                </div>
                <div class="panel-table">
                    <table class="table table-striped">
                        <tbody>
                            @foreach(var f in character.Feats)
                            { <tr><td>@f</td></tr> }
                        </tbody>
                    </table>
                </div>
            </div>
            <div class='panel panel-default'>
                <div class='panel-heading'>
                    <h3 class='panel-title'>Skills</h3>
                </div>
                <div class="panel-table">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Skill</th>
                                <th>Ranks</th>
                                <th>Score</th>
                            </tr>
                        </thead>
                        <tbody>
                        @{ var skills = charFull.Get<SkillRanks>(); }
                        @foreach(var s in skills.GetRankedSkills())
                        { 
                            @if(s.AbleToUse && !(s.Skill.IsBackgroundSkill && s.Ranks == 0))
                            {
                                <tr>
                                    <td>@s.Name</td>
                                    <td>@s.Ranks</td>
                                    <td class='@(@s.Ranks > 0 ? "success" : "")'> @s.Score()</td>
                                </tr>
                            }
                        }
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Languages</h3>
                </div>
                <div class="panel-body">
                    <ul class="commalist">
                        @foreach(var l in character.Languages)
                        { <li>@l</li> }
                    </ul>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Gear</h3>
                </div>
                <div class="panel-table">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Item</th>
                                <th>Quantity</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach(var g in charFull.Inventory.All)
                            { <tr><td>@g.Name</td><td>@g.Quantity</td></tr> }
                        </tbody>
                    </table>
                    <p><strong>Money</strong> @character.Money </p>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Description</h3>
                </div>
                <div class="panel-body">
                    <ul class="stats">
                        <li><strong>Age</strong> @character.Age</li>
                        <li><strong>Size</strong> @character.Height @character.Weight</li>
                        <li><strong>Description</strong> @charFull.Appearance.Description</li>
                    </ul>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Personality</h3>
                </div>
                <div class="panel-body">
                    <ul class="stats">
                        <li><strong>Ideal</strong> @character.IdealName - @character.IdealDescription</li>
                        <li><strong>Behaviors</strong>
                            <ul>
                                @foreach(var p in character.Personality)
                                { <li>@p</li> }
                            </ul>
                        </li>  
                        <li><strong>Weaknesses</strong>
                            <ul>
                                @foreach(var p in character.PersonalityWeaknesses)
                                { <li>@p</li> }
                            </ul>
                        </li>  
                        <li><strong>Quirks</strong>
                            <ul>
                                @foreach(var q in character.Quirks)
                                { <li>@q</li>}
                            </ul>
                        </li>
                        <li><strong>Fears</strong>
                            <ul>
                                @foreach(var f in charFull.Get<SilverNeedle.Characters.Personalities.Fears>())
                                { <li>@f</li>}
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">History</h3>
                </div>
                <div class="panel-body">
                    @{ var story =  charFull.Get<SilverNeedle.Characters.Background.BackgroundStory>().GetStory(); }
                    <p>@story</p>
                    <ul class="stats">
                        <li>
                            <ul class="commalist">
                                <li><strong>Father</strong> @character.Father</li>
                                <li><strong>Mother</strong> @character.Mother</li>
                            </ul>
                        </li>
                        <li><strong>Homeland</strong> @character.Homeland</li>
                        <li><strong>Drawback</strong> @character.Drawback</li>
                        <li><strong>Origins</strong> @character.ClassOrigin</li>
                        <li><strong>Birth</strong> @{ var birthCirc = charFull.Get<History>().BirthCircumstance.Name; } @birthCirc</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

