@{
    ViewData["Title"] = "Home Page";
}
<h1>@ViewData["Name"]</h1>
<div class="row">
    <strong>@ViewData["Race"] @ViewData["Class"] @ViewData["Level"]</strong>
    <p>@ViewData["Alignment"] @ViewData["Size"]</p>
    <strong>Init</strong>@ViewData["Initiative"]; <strong>Senses</strong> @ViewData["Senses"]
</div>

